<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <script type="module" src="node_modules/vue/dist/vue.js"></script>
        <script type="module" src="index.js"></script>
        <style type="text/css">
            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <section id="app">
            <h1>{{Greet("night")}}</h1>
            <p v-bind:class="nameHighlighted">Name: {{name}}</p>
            <p :class="jobHighlighted">Job: {{job}}</p>
            <p :class="websiteHighlighted">Website: <a :href="website">Link</a></p>
            <br/>
            <!-- <span v-html="jobBadge"></span> -->
            <br/>
            <button v-on:click="Highlight(false)">Prev</button>
            <button @click="Highlight(true)">Next</button>
            <br/>
            <button @dblclick="Jump(false)">Jump back</button>
            <button @dblclick="Jump(true)">Jump front</button>
            <br/>
            <input type="text" v-model="input" placeholder="input" />
            <p>Input: {{input}}</p>
            <input id="input-2" type="text" @keyup="UpdateInput2" placeholder="input2" />
            <p>Input 2: {{input2}}</p>
            <button @click="Warning('can\'t be submitted', $event)">Submit</button>
        </section>
        <section id="app-2">
            <h1>This year resolutions:</h1>
            <p>{{resolutions[0] | TitleCasing}}</p>
            <p>{{resolutions[1] | TitleCasing}}</p>
            <p>{{resolutions[2] | TitleCasing}}</p>
            <p>{{resolutions[3] | TitleCasing}}</p>
            <h1>Next year resolutions:</h1>
            <p v-for="res in nextyresolutions">{{res | TitleCasing}}</p>
            <h1>Pick one which you will resolute today</h1>
            <select v-model="selected">
                <option v-for="(res, index) in ress" :value="res.No">{{index +1}}. {{ res.Title | TitleCasing }}</option>
            </select>
            <p>{{selected | CleansSelected(ress) | Expand}}</p>
        </section>
    </body>
</html>